.product-detail {
    max-width: 260px;
    max-height: calc(100vh - 68px);
    top: 68px;
}

img {
    width: 30%;
    height: 30%;
    object-fit: cover;
    display: block;
}

.text-ellipsis {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}